body{
  margin: 0;
  padding: 0;
}
.container{
  width: 100dvw;
  height: 100dvh;
  background: white;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: auto;
  flex-direction: column;
}
.outer-box {
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  height: 20px;
  border: 1px solid grey;
  position: relative;
  border-radius: 5px;
}
.modal-box{
animation: grow 0.2s linear;
}

@keyframes grow {
  0%   {transform: scale(0);}
  25%  {transform: scale(0.25);}
  50%   {transform: scale(0.50);}
  75%  {transform: scale(0.75);}
  100% {transform: scale(1);}
}

